<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Lab2_2_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=hads2020.database.windows.net;User ID=hads20;Password=Hadslife3" providerName="System.Data.SqlClient" />
    <add name="ConnectionString2" connectionString="Data Source=hads2020.database.windows.net;Persist Security Info=True;User ID=hads20;Password=Hadslife3" providerName="System.Data.SqlClient" />
    <add name="HADS20ConnectionString" connectionString="Data Source=hads2020.database.windows.net;Initial Catalog=HADS20;Persist Security Info=True;User ID=hads20;Password=Hadslife3" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
     <authentication mode="Forms">
       <forms name="hads" loginUrl="/LogOut.aspx" protection="All" />
    </authentication>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<location path="Profesor">
  <system.web>
    <authorization>
      <deny users="?" />
      <allow users="profesor,coordinador" />
      <deny users="*" />
    </authorization>
  </system.web>
</location>
<location path="Profesor/ExportarTareas.aspx">
  <system.web>
    <authorization>
      <deny users="?" />
      <allow users="coordinador" />
      <deny users="*" />
    </authorization>
  </system.web>
</location>
<location path="Profesor/ImportarTareasXMLDoc.aspx">
  <system.web>
    <authorization>
      <deny users="?" />
      <allow users="coordinador" />
      <deny users="*" />
    </authorization>
  </system.web>
</location>
<location path="Profesor/VerHorasMedias.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="coordinador" />
        <deny users="*" />
      </authorization>
    </system.web>
</location>
<location path="Alumno">
  <system.web>
    <authorization>
      <deny users="?" />
      <allow users="alumno" />
      <deny users="*" />
    </authorization>
  </system.web>
</location>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <Lab2_2_.Properties.Settings>
      <setting name="Lab2_2__net_azurewebsites_hadslife2_CoordinatorServices"
        serializeAs="String">
        <value>http://hadslife2.azurewebsites.net/CoordinatorServices.asmx</value>
      </setting>
    </Lab2_2_.Properties.Settings>
  </applicationSettings>
</configuration>